@tailwind base;
@tailwind components;
@tailwind utilities;
body{
	font-size: 14px;
}

a:hover, span:hover, button:hover{
	color:rgb(255, 186, 58);
	transition: 0.3s;
}


span{
	color: rgb(87 83 78);
}

.customContainer{
	width: 1200px;
}

@media (max-width: 1200px) {
	.customContainer{
		@apply w-full px-2
	}
}

.socialMediaIcons{
	@apply border rounded-full p-3 transition duration-500 hover:bg-white
}

.teste{
	list-style-type: disc;
}