@tailwind base;
@tailwind components;
@tailwind utilities;
body{
	font-size: 14px;
}

a:hover, span:hover{
	color:rgb(255, 186, 58);
	transition: 0.3s;
}

span{
	color: rgb(168, 167, 167);
}

.customContainer{
	@apply xs:w-8/12 w-10/12 ml-12 mr-12
}

.socialMediaIcons{
	@apply border rounded-full p-3 transition duration-500 hover:bg-white
}
